@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --pink: #EF1649;
  --purple: #151337;
  --grey:#F5F5F5;
  --textGrey:#7E8287;
  --blue:#1090d0
  ;
--textPurple: #292751;
--lightblue: #F1F8FC;
--lightpink: '#FEF1F4';
--homegrey:'#535353';
--homeblack: '#333333';
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.meeting-btn {
  position: relative;
  overflow: hidden;
  color: var(--pink);
  padding: 10px 20px;
  cursor: pointer;
  border: 2px solid var(--pink);
  border-radius: 9999px; /* Full rounded */
  z-index: 1; /* Ensure the button is on top */
}

.meeting-btn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: var(--pink);
  transition: width 0.3s ease;
  z-index: -1; /* Ensure the background is behind the text */
}

.meeting-btn:hover::after {
  width: 100%; /* Expand background to full width */
}

.meeting-btn .meeting-text {
  position: relative;
  z-index: 2; /* Make sure text stays on top of the background */
  transition: transform 0.3s ease, color 0.3s ease;
}

.meeting-btn:hover .meeting-text {
  transform: translateX(10px);
  color: white !important;
}

.slick-slide {
  display: flex !important;
  flex-direction: row!important;
  justify-content: center;
  align-items: center;
}
.slick-list {
  overflow: hidden;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important; 
  box-shadow: 0 0 0 1000px white inset !important; 
  background-color: white !important; 
}


/* HTML: <div class="loader"></div> */ 
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: 
    radial-gradient(farthest-side,#2da9da 94%,#0000) top/8px 8px no-repeat,
    conic-gradient(#0000 30%,#2da9da);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
  animation: l13 1s infinite linear;
}
@keyframes l13{ 
  100%{transform: rotate(1turn)}
}


.sticky-wrapper {
  overflow: visible; /* Ensure parent does not interfere */
}
.fixed-video-size {
  max-height: 500px;
  /* Full width responsiveness */
}
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;

  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  display:grid;
  -webkit-mask: conic-gradient(from 15deg,#0000,#000);
  animation: l26 1s infinite steps(12);
}
.loader,
.loader:before,
.loader:after{
  background:
    radial-gradient(closest-side at 50% 12.5%,
     #1090d0 96%,#0000) 50% 0/20% 80% repeat-y,
    radial-gradient(closest-side at 12.5% 50%,
     #1090d0 96%,#0000) 0 50%/80% 20% repeat-x;
}
.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
  transform: rotate(30deg);
}
.loader:after {
  transform: rotate(60deg);
}
@keyframes l26 {
  100% {transform:rotate(1turn)}
}
.bg_rev{
  background-image: url("/images/revenue-bg.webp") !important;
  background-position: contain !important;
}
h2{
  font-size:40px!important;
}
h1{
  font-size: 48px!important;
}
@media (max-width: 1250px)
{
  h2{
    font-size:32px!important;
  }
  h1{
    font-size: 38px!important;
  }
}
@media (max-width: 1050px)
{
  h2{

    font-size:24px!important;
  }
  h1{
    font-size: 28px!important;
  }
  .vef_btn{
    padding: 10px 10px !important;
    font-size: 14px!important;
  }
}

.vef_bg {
  margin-top: 30px;
  color: white !important;
  background-color: var(--blue);
  border-radius: 20px !important;
}
.vef_btn {
  background-color: var(--pink);
  padding: 15px 20px !important;
  color: white !important;
  border-radius: 10px !important;
  cursor: pointer;
}
.justify-content p{
text-align: justify;
}


/* animated cards css from here */

.box {
color: white;
  --border-angle: 0turn; 
  --main-bg: conic-gradient(
      from var(--border-angle),
      #213,
      #112 5%,
      #112 60%,
      #213 95%
    );
  
  border: solid 5px transparent;
  border-radius: 2em;
  --gradient-border: conic-gradient(from var(--border-angle), transparent 25%, #08f, #f03 99%, transparent);
  
  background: 
    var(--main-bg) padding-box,
    var(--gradient-border) border-box, 
    var(--main-bg) border-box;
  
  background-position: center center;

  animation: bg-spin 3s linear infinite;
  @keyframes bg-spin {
    to {
      --border-angle: 1turn;
    }
  }
  &:hover {
    animation-play-state: paused;
  }
}
@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}
.blog-img img {
  height: auto !important; /* Ensure the height scales proportionally */
  max-width: 100%; /* Restrict the image width to the container */
  display: block; /* Ensure it's treated as a block-level element for centering */
  margin: 0 auto; /* Center horizontally */
}
