name: Deploy Next.js to Ubuntu Server 

on:
  push:
    branches:
      - main # Change this to your main branch name

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Install Node.js and npm
        uses: actions/setup-node@v2
        with:
          node-version: "18.19.1" # Adjust this to match your Node.js version

      - name: Install dependencies
        run: npm install

      - name: Build Next.js app
        run: npm run build

      - name: Copy Files to Server
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USERNAME }}
          key: ${{ secrets.SERVER_SSH }}
          passphrase: ${{ secrets.PASSPHRASE }}
          source: "./*"
          target: ${{ secrets.SERVER_PATH }}
          debug: true
          
      - name: Restart PM2
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USERNAME }}
          key: ${{ secrets.SERVER_SSH }}
          passphrase: ${{ secrets.PASSPHRASE }}
          script: |
            cd ${{ secrets.SERVER_PATH }}
            source ~/.nvm/nvm.sh
            pm2 restart next_w3era
